.home-page-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100dvh;
  width: 100vw;
  position: relative;
  background-color: #000;
}

.snap-section {
  width: 100vw;
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
